{% if not add_generation_prompt is defined %}{% set add_generation_prompt = false %}{% endif %}{% set loop_messages = messages %}{% for message in loop_messages %}{% if message['role'] == 'assistant' %}{% set content = message['content'] | trim + '</s>' %}{% else %}{% set content = '[INST]' + message['content'] | trim + '[/INST]' %}{% endif %}{% if loop.index0 == 0 %}{% set content = bos_token + content %}{% endif %}{{ content }}{% endfor %}