{% if not add_generation_prompt is defined %}{% set add_generation_prompt = false %}{% endif %}{% set loop_messages = messages %}{% for message in loop_messages %}{{ '<|im_start|>' + message['role'] + '\n' + message['content'] | trim + ('<|endoftext|>' if message['role'] == 'assistant' else '<|im_end|>') }}{% endfor %}{% if add_generation_prompt %}{{ '<|im_start|>assistant\n' }}{% endif %}